<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0.0" android:compileSdkVersion="28" android:compileSdkVersionCodename="9" package="com.example.tv" platformBuildVersionCode="1" platformBuildVersionName="1.0.0">
    <uses-sdk android:minSdkVersion="16" android:targetSdkVersion="28"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <application android:label="Display Joy" android:icon="@drawable/banner" android:name="p005io.flutter.app.FlutterApplication" android:debuggable="true" android:banner="@drawable/banner" android:appComponentFactory="androidx.core.app.CoreComponentFactory">
        <activity android:theme="@style/LaunchTheme" android:label="Display Joy" android:icon="@drawable/banner" android:name="com.example.p004tv.MainActivity" android:launchMode="singleTop" android:configChanges="locale|keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|layoutDirection|fontScale" android:windowSoftInputMode="adjustResize" android:logo="@drawable/banner" android:hardwareAccelerated="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
